# Dependencies
node_modules/
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
coverage/

# Testing
.nyc_output/